<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.drive.mapper.ProjectItemMapper">


	<resultMap id="listDetailsMap" type="com.example.drive.entity.ProjectItem" >
		<collection property="win7SubList" resultMap="com.example.drive.mapper.ProjectItemSubMapper.subMap"/>
	</resultMap>


	<select id="buildList" resultType="com.example.drive.entity.ProjectItemSub" parameterType="Long">

select pi.*,s.version,s.drive_date,s.url,pi.platform

from project_item pi LEFT JOIN project_item_sub s on pi.id=s.project_item_id
where pi.project_id=#{projectId}


	</select>

</mapper>
