<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.drive.mapper.ProjectItemSubMapper">



	<resultMap id="subMap" type="com.example.drive.entity.ProjectItemSub" >
		<result property="version" column="version"/>
		<result property="driveDate" column="drive_date"/>
		<result property="url" column="url"/>
	</resultMap>
	<select id="selectInfo" resultType="com.example.drive.entity.ProjectItemSub">
select s.*,t.terrace_name from project_item_sub s LEFT JOIN project p on s.project_id=p.id
left join terrace t on t.id=p.terrace_id

  ${ew.customSqlSegment}
	</select>

</mapper>
